{{ selfieARenseigner | json }}

<form #monForm="ngForm">
  <div class="row g-3 align-items-center">
    <div class="col-auto">
      <label for="titre" class="form-label">Titre</label>
    </div>
    <div class="col">
      <input type="text" name="titre" #titre="ngModel" class="form-control" [(ngModel)]="selfieARenseigner.titre" aria-describedby="titreHelp" required>
    </div>
    <div class="col-auto">
      <!-- <span [style.visibility]="titre.valid ? 'hidden' : 'visible'" id="titreHelp" class="form-text">Titre obligatoire !</span> -->
      <span [hidden]="titre.valid" id="titreHelp" class="form-text">Titre obligatoire !</span>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col">
        Ton selfie :
    </div>
    <div class="col">
      <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
      [videoOptions]="videoOptions"
      [imageQuality]="1"
      (initError)="handleInitError($event)"
    ></webcam>
    <br/>
    <button class="actionBtn" (click)="triggerSnapshot();">Take A Snapshot</button>
    </div>
  </div>

  <div class="row snapshot" *ngIf="webcamImage">
    <div class="col">
      <h2>Nice one!</h2>
      <img [src]="webcamImage.imageAsDataUrl"/>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button type="submit" [disabled]="! monForm.form.valid" class="btn btn-primary" (click)="clickSurAjouter()">Nouveau selfie</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-secondary" (click)="clickAnnulerSaisie()">Annuler</button>
    </div>
  </div>
</form>
