<app-menu-general (lancerRecherche)="rechercherSelfies($event)"></app-menu-general>

<h1>{{title}}</h1>

<!-- <img *ngIf="logoAffiche; else contraireIf" src="https://stankosstance.files.wordpress.com/2018/05/chewbacca.jpg" alt=""> -->

<!-- <ng-template #contraireIf>
  <b>Pas d'image</b>
</ng-template> -->

<main class="container">
  <div class="row">
    <div class="col-sm-6 mx-auto">
        <router-outlet></router-outlet>
      <!-- <app-selfie-list [filtre]="valeurRechercher"></app-selfie-list> -->
    </div>
  </div>
</main>
